div{
   float: left;
    border:1px solid;
    width: 8%;
    height:60px ;
    margin: 6px;
    
}
.yellow{
   

    background-color: yellow;
    
    
}
.green{
    margin-top: 20px;
    background-color: green;
    

}